.parallax {
  .mountains {
    background-image: url("/images/mountains.png");
  }

  .planets {
    background-image: url("/images/planets.png");
  }

  .stars {
    background-image: url("/images/stars.png");
  }
}
