
// Custom Scrollbar
::-webkit-scrollbar {
  width: 1px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: rgba(229, 231, 235, 0.7);
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #a0aec0;
  border-radius: 1px;
}
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  color: lightgray;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}